/* Home.css */
.home {
    background-image: url('./sonny.jpeg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    display: flex; 
    
    justify-content: center; 
    color: white;
  }
  

  h1{
    font-size: 90px;
  }